{name, "erlydtl"}.
{authors, ["Roberto Saccon <rsaccon@gmail.com>","Evan Miller <emmiller@gmail.com>"]}.
{description, "Django templates for Erlang"}.
{homepage, "http://code.google.com/p/erlydtl/"}.
{rebar_compatible, true}.
{license, "MIT"}.
{url, {git, "https://github.com/evanmiller/erlydtl.git", {branch, "master"}}}.
{applications, [erlydtl]}.
